<div class="password__footer">
  <div class="password__social">
      {%- if settings.social_instagram_link != blank -%}
          <a href="https://instagram.com/{{ settings.social_instagram_link }}" class="link" target="_blank">
            @{{ settings.social_instagram_link }}
            {% comment %} {%- render 'icon-instagram' -%} {% endcomment %}
            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
          </a>
      {%- endif -%}
  </div>
  <div class="password__newsletter">
    {% render 'mailchimp-signup' %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-footer.name",
  "settings": [
  ]
}
{% endschema %}
