
<div class="password-text" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
  {{ section.settings.text }}
</div>

{% schema %}
{
  "name": "Password Title",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Welcome to our store</p>",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
    }
  ]
}
{% endschema %}
