
<div class="password-text" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
  {% comment %} {{ section.settings.text }} {% endcomment %}
  <p>Whose Pasta? <span style="white-space: nowrap;">Your Pasta</span></p>
  <p>100% Organic Semolina.</p>
  <p>Made in Brooklyn.</p>
</div>

{% schema %}
{
  "name": "Password Title",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Welcome to our store</p>",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
    }
  ]
}
{% endschema %}
